body {
  font: {
    family: "Mulish";
    style: normal;
    weight: 400;
    size: 16px;
  }
  line-height: 156%;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $white;

  &.locked-body {
    overflow: hidden;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0px 40px;
  margin: 0px auto;
}

.title-up {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  &__text {
    font: {
      family: "Montserrat";
      weight: 600;
      size: 30px;
    }
    line-height: 133%;
    margin-right: 30px;
  }

  &__line {
    flex-grow: 1;
    height: 1px;
    background-color: $purple;
  }
}

.programmes,
.faq {
  padding: 200px 0px;
}
.about,
.whyus,
.gallery,
.galleryabout,
.feedbacks,
.contacts,
.gallery,
.aboutspaceowner {
  padding: 120px 0px;
}
.aboutspace {
  padding: 199px 0px;
}
.about-curse {
  padding-top: 80px;
}

.aboutspace,
.aboutspaceowner {
  padding-bottom: 0px;
}
.swiper-navigation {
  display: none;
}

.slider.slider-media {
  display: none;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 210px;

  &__block {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    min-height: 160px;
  }

  &__btn {
    position: relative;
    top: 50px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background-color: transparent;

    &.btn-prev::before,
    &.btn-next::before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 50%;
      border-bottom: 1px solid $purple;
    }

    &.btn-prev::before {
      left: 50%;
      border-left: 1px solid $purple;
      transform: translate(calc(-50% + 10px / 2), -50%) rotate(45deg);
    }

    &.btn-next::before {
      right: 50%;
      border-right: 1px solid $purple;
      transform: translate(calc(0% + 5px), -50%) rotate(-45deg);
    }

    &:hover {
      transition: all 0.3s linear;
      background-color: $purple;

      &.btn-prev::before,
      &.btn-next::before {
        border-bottom: 1px solid $white;
      }

      &.btn-prev::before {
        border-left: 1px solid $white;
      }

      &.btn-next::before {
        border-right: 1px solid $white;
      }
    }

    &:active {
      transition: all 0.1s linear;
      background-color: $blue;
    }
  }

  &__block-inner {
    display: flex;
    width: 760px;
    height: 100%;
  }

  &__photo {
    display: block;
    width: 160px;
    height: 160px;
    margin-right: 40px;
  }

  &__title {
    font: {
      weight: 700;
      size: 20px;
    }
    line-height: 125%;
    padding-bottom: 20px;
  }

  &__text {
    // opacity: 0.8;
    padding-bottom: 10px;
  }

  &__points-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29px;
    height: 5px;
  }

  &__point-item {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $purple;

    &.active-point {
      background: $blue;
    }
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 20;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__bg {
    width: 100%;
    height: 100vh;
    background: rgba(6, 27, 52, 0.65);
    display: flex;
    padding: 20px;
  }

  &__body {
    position: relative;
    min-width: 250px;
    min-height: 150px;
    max-height: 90%;
    margin: auto;
    overflow: auto;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 700px;
    }
  }
}

.br {
  display: block;
}

.br-media {
  display: none;
}

  

@media (max-width: 1000px) {
  .br{
    display: none;
  }
  .br-media{
    display: block;
  }
.about,
.whyus,
.feedbacks,
.contacts{
  padding: 60px 0px;
}
.programmes{
  padding: 120px 0px 60px;
}
.aboutspace{
  padding-top: 120px;
}
.aboutspaceowner {
  padding-top: 60px;
}
.galleryabout{
  padding: 70px 0px 130px;
}
.gallery{
  padding: 110px 0px 180px;
}
  .title-up {
    display: block;
    align-items: normal;
    margin-bottom: 30px;

    &__text {
      font: {
        size: 25px;
      }
      line-height: 120%;
      margin-right: 0px;
      text-align: left;
    }
    &__line {
      display: none;
    }
  }
  .swiper-navigation {
    display: flex;
    justify-content: center;
    .arrow-prev,
    .arrow-next {
      cursor: pointer;
    }
    .arrow-prev,
    .indicate-number {
      margin-right: 80px;
    }
    .first-number,
    .slice,
    .second-number {
      font-weight: 300;
      font-size: 12px;
      line-height: 125%;
      text-align: center;
      color: $black;
    }
    .first-number,
    .slice {
      margin-right: 5px;
    }
  }

  .slider.slider-desctop {
    display: none;
  }

  .slider.slider-media {
    display: block;
  }

  .slider {
    &__block {
      display: flex;
      flex-direction: column;
    }

    &__block-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__block-inner:not(:last-child) {
      margin-bottom: 30px;
    }

    &__photo {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0px auto 20px;
    }

    &__title {
      text-align: center;
      font-size: 18px;
      line-height: 139%;
      padding-bottom: 10px;
    }
  }
}
// .about,
// .whyus,
// .gallery,
// .galleryabout,
// .aboutspaceowner,
// .gallery.gallerybasicskillsoff,
// .feedbacks.basicskills{
//   padding: 120px 0px;
// }
// .aboutspace,
// .programmes,
// .faq,
// .feedbacks,
// .contacts
// {
//   padding: 119px 0px;
// }
