@import "fonts";
@import "reset";
@import "variables";
@import "basic";

.main__banner {
  background-image: url("@img/mainscreen/hero screen_bg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header.light-version {
  background-color: $white;
  position: fixed;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 2px 5px rgba(6, 27, 52, 0.05);
  transition: all 0.5s ease-in-out;
  left: 0;
  top: 0;
  margin: 0 auto;
}

.banner-version {
  background-color: $header-dark;
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 1s ease-in-out;
  left: 0;
  top: 0;
  margin: 0 auto;
}
.header,
.header__anotherpage {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  margin: 0 auto;
  .header__dark,
  .header__light {
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__light {
    display: none;
  }
}
.header-logo,
.footer-logo {
  display: block;
  min-width: 160px;
  height: 34px;
}

.btn__signup,
.btn__signup-light {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  height: 40px;
  border: 1px solid $white;
  font-weight: bold;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: $white;
  padding: 10px;
  &:hover {
    filter: drop-shadow(2px 2px 10px rgba(250, 250, 255, 0.1));
    color: $blue;
    background: $white;
    transition: all 0.4s ease-in-out;
  }
  &:active {
    background: $purple-medium;
    border: 1px solid $purple-medium;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    transition: all 0.4s ease-in-out;
  }
}
.btn__signup-light {
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    background: $blue;
    color: $white;
  }
  &:active {
    background: $blue-dark;
    border: 1px solid $blue-dark;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    transition: all 0.4s ease-in-out;
  }
}

.header__menu,
.header__menu-light {
  margin: 0 10px;
  max-width: 413px;
  min-width: 275px;
  width: 100%;
  height: 30px;
  padding-top: 5px;
}
.header__list,
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item,
.footer__item {
  height: 80px;
}
.header__item a,
.header__item .light,
.footer__item .light {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $white;
  position: relative;
}
.header__item .light,
.footer__item .light {
  color: $black-dark;
}

.header__item:not(:last-child),
.footer__item:not(:last-child) {
  margin-right: 5px;
}

.header__item a:after,
.header__item .light:after,
.footer__item .light:after,
.header__item .light.redline:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  width: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  transition: all 0.6s ease-in-out;
}
.footer__item .light:after{
  bottom: -5px;
}
.header__item .light.redline:after {
  width: 100%;
  background-color: $red;
}
.header__item:hover a:after {
  width: 100%;
  background-color: $white;
}
.header__item:hover .light:after,
.footer__item:hover .light:after {
  width: 100%;
  background-color: $blue;
}
.header__item:active a:after,
.header__item:active .light:after,
.footer__item:active .light:after {
  width: 100%;
  background-color: $red;
}

.header__anotherpage {
  background: $white;
  box-shadow: 0px 2px 5px rgba(6, 27, 52, 0.05);
} //для других страниц

.hero__screen {
  .container {
    position: relative;
    .hand__img {
      position: absolute;
      max-width: 318px;
      height: 712px;
      display: block;
      top: 200px;
      right: -15px;
      z-index: 3;
    }
  }

  .banner {
    display: flex;
    position: relative;
    padding: 240px 0px 100px;
    .banner__content {
      display: flex;
      flex-direction: column;
      margin-right: 213px;
      h1 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 58px;
        line-height: 103%;
        color: $white;
        margin-bottom: 10px;
      }
      .banner__text {
        font-size: 18px;
        line-height: 139%;
        color: $white;
        margin-bottom: 55px;
      }
      .banner__btn-programm,
      .banner__btn-signup {
        width: 240px;
        height: 50px;
        font-weight: bold;
        line-height: 125%;
        text-align: center;
        border: none;
      }
      .banner__btn-programm {
        font-size: 14px;
        margin-bottom: 20px;
        color: $white;
        border: 1px solid $white;
        position: relative;
        padding: 15px;
        &:hover {
          color: $blue;
          background: $white;
          transition: all 0.4s ease-in-out;
          filter: drop-shadow(2px 2px 10px rgba(250, 250, 255, 0.1));
        }
        &:active {
          background: $purple-medium;
          border: 1px solid $purple-medium;
          box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
          transition: all 0.4s ease-in-out;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: -40px;
          right: -35px;
          width: 70px;
          height: 70px;
          background-image: url("@img/mainscreen/star.svg");
          transform: rotate(15deg);
        }
      }
      .banner__btn-signup {
        font-family: "Montserrat";
        font-size: 16px;
        background: $white;
        color: $black-dark;
        text-transform: uppercase;
        margin-bottom: 160px;
        padding: 15px;
        &:hover {
          color: $white;
          background: $red;
          transition: all 0.4s ease-in-out;
          filter: drop-shadow(2px 2px 10px rgba(250, 250, 255, 0.1));
        }
        &:active {
          background: $red-dark;
          border: 1px solid $red-dark;
          box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
          transition: all 0.4s ease-in-out;
        }
      }
      .socials {
        display: flex;
      }
      .socials a .ico__banner {
        display: block;
        stroke: $purple-light;
        border-radius: 50%;
        margin-right: 25px;
        &:hover {
          background-color: $white;
          box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
          border-radius: 50%;
          stroke: $red;
          transition: all 0.4s ease-in-out;
        }
        &:active {
          background-color: $red;
          box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
          stroke: $white;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}
svg.ico__banner.ico-vk path {
  fill: inherit;
}
.hero__screen .banner .banner__content .socials a .ico__banner.ico-vk {
  stroke: none;
  fill: $white;
  &:hover {
    background-color: $white;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    border-radius: 50%;
    fill: $red;
    transition: all 0.4s ease-in-out;
  }
  &:active {
    background: $red;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    fill: $white;
    fill-rule: nonzero;
    transition: all 0.4s ease-in-out;
  }
}

// ABOUT
.about {
  background-color: $purple-light;
  .about__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    .about__description {
      display: flex;
      flex-direction: column;
      .about__description-text-first,
      .about__description-text-second {
        line-height: 156%;
        color: $black-dark;
        margin-bottom: 20px;
      }
      .about__description-text-second {
        margin-bottom: 30px;
      }
    }
    .about__image {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .btn__about {
    width: 284px;
    height: 50px;
    border: 1px solid $blue;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $blue;
    padding: 13px;
    filter: drop-shadow(2px 2px 10px rgba(250, 250, 255, 0.1));
    &:hover {
      color: $white;
      background: $blue;
      box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
      transition: all 0.4s ease-in-out;
    }
    &:active {
      background: $blue-dark;
      border: 1px solid $blue-dark;
      box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    }
  }
}

//WHYUS//
.whyus {
  background: $white;
  .whyus__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 25px;
    .whyus__item {
      display: flex;
      justify-content: center;
      .whyus__image {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
      .whyus__description {
        width: 81.8%;
        padding-top: 20px;
        .whyus__title {
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          color: $black-dark;
          margin-bottom: 20px;
        }
        .whyus__text {
          line-height: 156%;
          color: $black-dark;
          opacity: 0.8;
        }
      }
    }
  }
}

//RECORD//
.record {
  padding: 130px 0px 140px;
  background: {
    repeat: no-repeat;
    position: center center;
    size: cover;
    image: url("@img/record/recordBackground.png");
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 760px;
    width: 100%;
    min-height: 330px;
    padding: 50px 10px;
    margin: 0px auto;
    background: rgba(249, 250, 255, 0.5);
    backdrop-filter: blur(10px);
  }

  &__content {
    h2 {
      font: {
        family: "Montserrat";
        weight: 600;
        size: 30px;
      }
      line-height: 133%;
      color: $black;
      padding-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 20px;
    }
  }

  &__btn {
    font: {
      family: "Montserrat";
      weight: 700;
    }
    line-height: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    width: 100%;
    height: 50px;
    color: $white;
    background: $blue;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);

    &:hover {
      background: $red;
      transition: all 0.3s linear;
    }

    &:active {
      background: $red-dark;
      transition: all 0.1s linear;
    }
  }
}

//GALLERY//
.gallery {
  background: $purple-light;

  &__block {
    width: 100%;
    height: 820px;
    display: grid;
    grid-template-areas:
      "a a b"
      "a a e"
      "c d e"
      "f d g";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }

  &__item {
    background: {
      repeat: no-repeat;
      position: center center;
    }
    background-size: cover;
    cursor: pointer;
  }

  .item-a {
    background-image: url("@img/gallery/gallery_a.jpg");
    grid-area: a;
  }

  .item-b {
    background-image: url("@img/gallery/gallery_b.jpg");
    grid-area: b;
  }

  .item-c {
    background-image: url("@img/gallery/gallery_c.jpg");
    grid-area: c;
  }

  .item-d {
    background-image: url("@img/gallery/gallery_d.jpg");
    grid-area: d;
  }

  .item-e {
    background-image: url("@img/gallery/gallery_e.jpg");
    grid-area: e;
  }

  .item-f {
    background-image: url("@img/gallery/gallery_f.jpg");
    grid-area: f;
  }

  .item-g {
    background-image: url("@img/gallery/gallery_g.jpg");
    grid-area: g;
  }

  &__item-modal {
    display: none;
    background: {
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
  }

  &__item-modal.active-photo {
    display: block;
  }
}

//CONTACT//
.contacts {
  &__block {
    display: flex;
    width: 100%;
    min-height: 380px;
  }

  &__content {
    max-width: 286px;
    width: 100%;
    min-height: 100%;
    margin-right: 34px;
    color: $black;
  }

  &__address {
    padding-bottom: 50px;
  }

  &__address p {
    &:first-child {
      padding-bottom: 10px;
    }

    &:last-child {
      padding-top: 25px;
    }
  }

  &__questions {
    h3 {
      font: {
        weight: 700;
        size: 20px;
      }
      line-height: 100%;
      padding-bottom: 20px;
    }

    p {
      padding-bottom: 30px;
    }
  }

  &__questions-btn {
    font: {
      family: "Montserrat";
      weight: 700;
    }
    line-height: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    width: 100%;
    height: 50px;
    color: $white;
    background: $purple;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);

    &:hover {
      background: $blue;
      transition: all 0.3s linear;
    }

    &:active {
      background: $blue-dark;
      transition: all 0.1s linear;
    }
  }

  &__map {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    iframe {
      width: inherit;
      min-height: inherit;
    }
  }
}

//FOOTER//
.footer {
  height: 250px;
  background: $purple-light;
  display: flex;
  align-items: center;
  .footer__light {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px;
    padding-top: 20px;
  }
}
.footer__menu {
  margin: 0 10px;
  max-width: 413px;
  min-width: 275px;
  width: 100%;
  height: 30px;
  padding-top: 5px;
}

.socials {
  display: flex;
}
.socials a .ico__footer {
  display: block;
  stroke: $black-dark;
  border-radius: 50%;
  margin: 0px 12px;
  &:hover {
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: $purple;
    stroke: $white;
  }
  &:active {
    background: $blue-dark;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    transition: all 0.4s ease-in-out;
  }
}
.socials:last-child a .ico__footer {
  margin-right: 0px;
}

svg.ico__footer.ico-vk path {
  fill: inherit;
}

.footer .socials a .ico__footer.ico-vk {
  stroke: none;
  fill: $black-dark;
  &:hover {
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    border-radius: 50%;
    background-color: $purple;
    fill: $white;
    transition: all 0.4s ease-in-out;
  }
  &:active {
    background: $blue-dark;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
    fill: $white;
    fill-rule: nonzero;
    transition: all 0.4s ease-in-out;
  }
}

.footer__copy {
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  color: $black;
  display: flex;
  justify-content: center;
}

//aboutspace
.aboutspace {
  background: $white;
  .aboutspace__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-bottom: 40px;
    max-height: 380px;
    height: 100%;
    .aboutspace__content-image,
    .aboutspace__content-item {
      max-height: 380px;
      height: 100%;
      width: 100%;
    }
    .aboutspace__content-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .aboutspace__content-item-text,
    .aboutspace__content-item-text-block {
      line-height: 156%;
      margin-bottom: 25px;
    }
    .aboutspace__content-item-text-block {
      height: 380px;
    }
  }
  .aboutspace__statistics {
    display: flex;
    margin-bottom: 120px;
    .aboutspace__statistics-item.first {
      margin-right: 40px;
    }
    .aboutspace__statistics-item.second {
      margin-right: 70px;
    }
    .aboutspace__statistics-item.third {
      margin-right: 80px;
    }
    .aboutspace__statistics-number {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 40px;
      line-height: 100%;
      color: $red;
    }
  }
}
.line {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 1px;
  background-color: $purple;
}
.aboutspaceowner {
  background: $white;
  .aboutspaceowner__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin-bottom: 119px;
  }
}
.aboutspaceowner__content-image {
  width: 440px;
  height: 320px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.aboutspaceowner__content-text-first {
  margin-bottom: 15px;
}

.galleryabout {
  background: $white;
  &__block {
    width: 100%;
    height: 860px;
    display: grid;
    grid-template-areas:
      "h i j"
      "h i j"
      "k i j"
      "k i l"
      "m i l"
      "m n n"
      "o n n"
      "o n n";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  &__item {
    background: {
      repeat: no-repeat;
      position: center center;
    }
    background-size: cover;
    cursor: pointer;
  }

  .item-h {
    background-image: url("@img/aboutspacepage/aboutspacegallery_h.jpg");
    grid-area: h;
  }

  .item-i {
    background-image: url("@img/aboutspacepage/aboutspacegallery_i.jpg");
    grid-area: i;
  }

  .item-j {
    background-image: url("@img/aboutspacepage/aboutspacegallery_j.jpg");
    grid-area: j;
  }

  .item-k {
    background-image: url("@img/aboutspacepage/aboutspacegallery_k.jpg");
    grid-area: k;
  }

  .item-l {
    background-image: url("@img/aboutspacepage/aboutspacegallery_l.jpg");
    grid-area: l;
  }

  .item-m {
    background-image: url("@img/aboutspacepage/aboutspacegallery_m.jpg");
    grid-area: m;
  }

  .item-n {
    background-image: url("@img/aboutspacepage/aboutspacegallery_n.jpg");
    grid-area: n;
  }
  .item-o {
    background-image: url("@img/aboutspacepage/aboutspacegallery_o.jpg");
    grid-area: o;
  }
  &__item-modal {
    display: none;
    background: {
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
  }

  &__item-modal.active-photo {
    display: block;
  }
}
//programme
.programmes {
  background: $white;
  position: relative;
  z-index: 0;
}
.programmes__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}
.card {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 440px;
  background: url("@img/programmes/downbg.png");
  background-position: 0 265px;
  background-size: contain;
  background-repeat: no-repeat;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 350px;
  background-size: contain;
  background-position: 0 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.card:after {
  content: "Подробнее";
  position: absolute;
  top: 90%;
  left: 7%;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  color: $white;
  border: none;
  transition: all 0.6s ease-in;
  margin: 0 auto;
  opacity: 1;
  z-index: 1;
  width: 250px;
  height: 40px;
  text-align: center;
  padding: 8px;
}

.star,
.star-feellikeasurgeon {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    background-image: url("@img/programmes/star.svg");
    transform: rotate(15deg);
  }
}
.star-feellikeasurgeon {
  &::after {
    background-image: url("@img/programmes/school.svg");
  }
}
.card:nth-child(1):before {
  background-image: url("@img/programmes/basicsurgery.png");
}
.card:nth-child(2):before {
  background-image: url("@img/programmes/basicsurgeryonlain.png");
}
.card:nth-child(3):before {
  background-image: url("@img/programmes/cardiosurgery.png");
}
.card:nth-child(4):before {
  background-image: url("@img/programmes/vascularsurgery.png");
}
.card:nth-child(5):before {
  background-image: url("@img/programmes/microsurgery.png");
}
.card:nth-child(6):before {
  background-image: url("@img/programmes/operatingroom.png");
}
.card:nth-child(7):before {
  background-image: url("@img/programmes/fundamentals.png");
}
.card:nth-child(8):before {
  background-image: url("@img/programmes/feellikeasurgeon.png");
}
.card:nth-child(9):before {
  background-image: url("@img/programmes/futuresurgeon.png");
}
// .card:nth-child(10):before {
//   background-image: url("@img/programmes/.png");
// }
// .card:nth-child(11):before {
//   background-image: url("@img/programmes/.png");
// }

.content {
  position: relative;
  width: 280px;
  height: 440px;
  transition: all 0.6s ease;
  z-index: 1;
  transform: translateY(77%);
}
.content::after {
  content: "";
  position: absolute;
  top: -115px;
  left: 0px;
  width: 100%;
  height: 630px;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  background: url("@img/programmes/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.content__title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: $white;
  margin-bottom: 40px;
  padding: 0px 15px;
  cursor: default;
}
.card:nth-child(1) .content .content__title,
.card:nth-child(2) .content .content__title,
.card:nth-child(7) .content .content__title,
.card:nth-child(8) .content .content__title {
  margin-bottom: 15px;
}
.content__additional {
  display: flex;
  flex-direction: column;
  height: 350px;
}
.card:nth-child(1) .content .content__additional,
.card:nth-child(2) .content .content__additional,
.card:nth-child(7) .content .content__additional,
.card:nth-child(8) .content .content__additional {
  height: 325px;
}
.content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: $white;
  padding: 0px 15px;
  transform: translateY(35px);
  transition: all 1s ease-in-out;
  text-align: left;
  margin-bottom: 15px;
  cursor: default;
}
.content__text.down {
  animation: textout 3s steps(50) 1;
  opacity: 0;
}
.content__text.up {
  animation: text 3s steps(50) 1;
  opacity: 1;
}

@keyframes text {
  from {
    opacity: 0;
  }
}
@keyframes textout {
  from {
    opacity: 1;
  }
}
.content__btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  color: $white;
  border: none;
  transition: all 0.7s ease-in-out;
  margin: 0 auto;
  padding: 8px;
}
.card:hover .content,
.card:focus-within .content {
  transform: translateY(0);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover .content::after {
  top: -120px;
  opacity: 0.95;
}
.card:hover::after {
  opacity: 0;
  z-index: 0;
  transition: all 0.1s ease-in-out;
}
.card:hover .content__btn {
  width: 250px;
  height: 40px;
  border: 1px solid $white;
  filter: drop-shadow(2px 2px 10px rgba(250, 250, 255, 0.1));
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  transition: all 0.7s ease-in-out;
}
.card:hover .content .content__text {
  transition: all 1s ease-in-out;
  animation: text 1s steps(50) 1;
  transform: translateY(0px);
}
.card:hover .content .content__title {
  padding-top: 30px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.card:hover .content .content__additional {
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
}
.content__btn:hover,
.content__btn:active {
  background: $white;
  color: $blue;
  transition: all 0.4s ease-in-out;
  border: none;
}
.card:hover .content__btn:active{
  background: $purple-medium;
  border: 1px solid $purple-medium;
  box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);
}



//title для направлений//
.title-course {
  margin-bottom: 50px;

  &__back {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left: 30px;
    margin: 52px 0px 54px;
    font: {
      weight: 300;
      size: 12px;
    }
    line-height: 125%;
    color: $black-dark;

    span {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        clear: both;
        height: 1px;
        width: 0px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        transition: all 0.6s ease-in-out;
      }
    }

    &:hover span::after {
      width: 100%;
      background-color: $purple;
    }

    &:active span::after {
      width: 100%;
      background-color: $blue;
      transition: all 0.1s linear;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 7px;
      fill: $purple;
      transform: translateY(-50%);
    }

    &:active svg {
      fill: $blue;
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__text {
    font: {
      family: "Montserrat";
      weight: 600;
      size: 30px;
    }
    line-height: 133%;
    margin-right: 30px;
  }

  &__line {
    height: 1px;
    flex-grow: 1;
    background-color: $purple;
  }
}

//about для направлений//
.about-curse {
  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-bottom: 50px;
    min-height: 380px;
    height: 100%;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text-block {
    p {
      padding-bottom: 20px;
    }
  }

  &__price {
    margin-bottom: 30px;
  }

  .about-curse__btn {
    font: {
      size: 14px;
      weight: 700;
    }
    line-height: 143%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    width: 100%;
    height: 50px;
    color: $white;
    background: $purple;
    box-shadow: 2px 2px 10px rgba(250, 250, 255, 0.1);

    &:hover {
      background: $blue;
      transition: all 0.3s linear;
    }

    &:active {
      background: $blue-dark;
      transition: all 0.1s linear;
    }
  }

  &__image {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//description блок для направление//
.description {
  &__block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 60px;
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 33.33%;
    width: 100%;
    padding: 0px 10px;

    img {
      display: block;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }
}

//lesson блок для направление//
.lesson {
  padding-bottom: 120px;
  color: $black;

  &__top-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 20px;
    min-height: 440px;
    height: 100%;
  }

  &__top-item,
  &__bottom-item {
    background: $purple-light;
    padding: 40px 20px;
  }

  &__title {
    padding-bottom: 25px;
    text-align: center;
    font: {
      weight: 700;
      size: 20px;
    }
    line-height: 125%;
  }

  &__bottom-block {
    ul {
      display: flex;
      gap: 20px;
    }

    li {
      width: 50%;
    }
  }

  &__item {
    padding-left: 50px;
    position: relative;
    cursor: default;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-image: url("@img/basicSkillsOffPage/course_mark.png");
    }
  }

  &__item:not(:last-child) {
    padding-bottom: 20px;
  }
}
// галерея страницы basicSkillsOff
.gallerybasicskillsoff {
  &__block {
    width: 100%;
    height: 620px;
    display: grid;
    grid-template-areas:
      "a0 b0 c0"
      "a0 b0 c0"
      "d0 b0 f0"
      "d0 e0 f0"
      "d0 e0 f0";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }

  .item-a0 {
    background-image: url("@img/basicSkillsOffPage/basicSkillsOffPage_a0.jpg");
    grid-area: a0;
  }

  .item-b0 {
    background-image: url("@img/basicSkillsOffPage/basicSkillsOffPage_b0.jpg");
    grid-area: b0;
  }

  .item-c0 {
    background-image: url("@img/basicSkillsOffPage/basicSkillsOffPage_c0.jpg");
    grid-area: c0;
  }

  .item-d0 {
    background-image: url("@img/basicSkillsOffPage/basicSkillsOffPage_d0.jpg");
    grid-area: d0;
  }

  .item-e0 {
    background-image: url("@img/basicSkillsOffPage/basicSkillsOffPage_e0.jpg");
    grid-area: e0;
  }

  .item-f0 {
    background-image: url("@img/basicSkillsOffPage/basicSkillsOffPage_f0.jpg");
    grid-area: f0;
  }
}

// FAQ

.faq {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    min-height: 441px;
  }

  &__accordion-list {
    max-width: 600px;
    width: 100%;
    min-height: 100%;
    margin-right: 40px;
  }

  &__accordion-item:first-child {
    border-top: 1px solid $purple;
  }

  &__accordion-item {
    border-bottom: 1px solid $purple;
  }

  &__accordion-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover .faq__accordion-btn {
      background: $purple;
      transition: all 0.6s ease-in-out;
    }

    &:active .faq__accordion-btn {
      background: $blue;
      transition: all 0.1s linear;
    }

    &:hover .faq__accordion-btn::before,
    &:hover .faq__accordion-btn::after {
      background-color: $white;
    }
  }

  &__accordion-title {
    max-width: 520px;
    padding: 20px 0px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;

    font: {
      weight: 600;
      size: 18px;
    }
    line-height: 139%;
  }

  &__accordion-btn {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 50%;
      top: 50%;
      width: 20px;
      height: 2px;
      background-color: $purple;
      border-radius: 10px;
      transform: translateY(-50%) translateX(50%);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 50%;
      top: 50%;
      width: 2px;
      height: 20px;
      background-color: $purple;
      border-radius: 10px;
      transform: translate(50%, -50%) rotate(0deg);
      transition: all 0.5s linear;
    }
  }

  &__accordion-content {
    cursor: default;
    padding-right: 80px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s linear;
  }

  &__photo {
    max-width: 280px;
    width: 100%;
    min-height: 380px;
    background: {
      image: url("@img/faqPage/faq_photo.png");
      repeat: no-repeat;
      size: contain;
      position: center;
    }
  }

  &__accordion-block-title.active-acc {
    .faq__accordion-btn::after {
      transform: translate(50%, -50%) rotate(90deg);
    }
  }
}

@media (max-width: 990px) {
  .programmes__content {
    grid-template-columns: 30% 30%;
    justify-items: center;
    justify-content: center;
    column-gap: 100px;
  }
}
